@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F1F5F8;
  --foreground: #374258;
  --primary: #0AAC6C;
  --primary-hover: #CEEEE2;
  --primary-hover2: #F3FBF8;
  --text-gray: #75819A;
  --text-gray2: #B2BBCE;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */

    --background: #F1F5F8;
  
    --foreground: #374258;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-shadow{
  box-shadow: 0 4px 6px 12px rgba(0, 0, blu0e, .1);
}
